.toastContainer {
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
}

.toast {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-black);
  font-family: var(--font-mabry-regular);
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--color-white);
  padding: 15px 20px;
  box-sizing: border-box;

  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.toastSuccess {
  border: 1px solid var(--color-green);
  box-shadow:
    0 4px 10px rgba(0, 255, 0, 0.3),
    0 8px 20px rgba(0, 255, 0, 0.2);
}

.toastError {
  border: 1px solid var(--color-red);
  box-shadow:
    0 4px 10px rgba(255, 0, 0, 0.3),
    0 8px 20px rgba(255, 0, 0, 0.2);
}

.toastWarning {
  border: 1px solid var(--color-yellow);
  box-shadow:
    0 4px 10px rgba(255, 255, 0, 0.3),
    0 8px 20px rgba(255, 255, 0, 0.2);
}
.toastDefault {
}

.toastVisible {
  opacity: 1;
  transform: translateY(0);
}

.toastHide {
  opacity: 0;
  transform: translateY(-100%);
}
