.layoutWrapper {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  /* Якщо твій сайдбар не перекриває контент, а відштовхує його, 
     тут можна додати margin-left, але для виїзного меню (як ми зробили вище) 
     краще залишити так, щоб контент був на весь екран. */
}