.otpInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  border: 2px solid var(--color-light-gray);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: var(--color-blue);
}

.timerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSection p {
  color: var(--color-gray) !important;
}

.input:disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: var(--color-light-gray) !important;
}
