.rules {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rules ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rules li {
  position: relative;
  padding-left: 25px;
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  color: var(--color-gray);
  transition: color 0.3s ease-in-out;
}

.rules li::before,
.rules li::after {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.invalid::before {
  background-color: var(--color-red);
  width: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.invalid::after {
  background-color: var(--color-red);
  width: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.valid::before {
  background-color: var(--color-green);
  width: 6px;
  top: 58%;
  left: 2px;
  transform: translateY(-50%) rotate(45deg);
}

.valid::after {
  background-color: var(--color-green);
  width: 11px;
  top: 52%;
  left: 5px;
  transform: translateY(-50%) rotate(-45deg);
}
