.rules {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rules ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rules li {
  position: relative;
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  color: var(--color-gray);
  transition: color 0.3s ease-in-out;
}
