.additional {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
  padding: 0 0 15px 0;
  box-sizing: border-box;
}

.additional a,
.additional span {
  margin: 0;
  color: var(--color-blue);
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.additional a:hover {
  color: var(--color-light-blue);
  cursor: pointer;
}