.wrapper {
  width: 25%;
  min-width: 400px;
  height: 90%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-left: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.wrapper h1 {
  font-size: 1.25rem;
  font-family: var(--font-mabry-bold);
  color: var(--color-blue);
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-light-gray);
}

.form button {
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-blue);
  border: 0;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-mabry-bold);
  transition: background-color 0.3s ease-in-out;
}

.form button:hover {
  cursor: pointer;
  background-color: var(--color-light-blue);
}

.form p {
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  margin: 0;
  color: var(--color-blue);
}

.sso {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sso button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  transition: border 0.3s ease-in-out;
}

.sso button:hover {
  border-color: var(--color-blue);
  cursor: pointer;
}

.additional {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
  padding: 0 0 15px 0;
  box-sizing: border-box;
}

.additional p {
  margin: 0;
  color: var(--color-blue);
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
  transition: all 0.3s ease-in-out;
}

.additional p:hover {
  color: var(--color-light-blue);
  cursor: pointer;
}

.copyright {
  padding: 15px 0 0 0;
  box-sizing: border-box;
  border-top: 1px solid var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  margin: 0;
  color: var(--color-gray);
  font-size: 1rem;
  font-family: var(--font-mabry-regular);
}
